.advice{
  list-style: none;
  margin: 0;
  padding: 0;
}
.advice__item{
  &:not(:last-child){
    padding-bottom: 80px;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 80px;
  }
  &:last-child{
    margin-bottom: 30px;
  }
}
.advice__box{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.advice__title{
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 170%;
  letter-spacing: 0.02em;
  color: #000000;
margin-right: 30px;
}
.advice__count{
margin: 0;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 170%;
letter-spacing: 0.02em;
color: rgba(0, 0, 0, 0.8);
}
.advice__text{
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 170%;
  letter-spacing: 0.02em;
  color: #333333;
&--top{
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 170%;
  letter-spacing: 0.02em;
  color: #333333;
 margin-bottom: 15px;
}
}
@include breakpoint-down(400){
.advice__box{
  flex-direction: column;

}
.advice__title{
  margin-right: 0px;
}
.advice__text{
  font-size: 12px;
  line-height: 188%;
  &--top{
    font-size: 12px;
    line-height: 188%;
  }
}
.advice__title{
  font-weight: 700;
  font-size: 20px;
  &--last{
    font-weight: 700;
    font-size: 18px;
  }
}
}
@include breakpoint-down(360){
  .advice__title{
       &--last{
        font-size: 17px;
    }
  }
}